.header{
	width: 100%;
	background-image: linear-gradient(#56a65f, rgb(255, 158, 72));
	
}

nav{
	display: flex;
	justify-content: space-between;
	align-items:center;
}
nav img{
	width: 50%;
}

.links a{
	text-decoration: none;
	color:white;
	font-family: arial;
	justify-content: space-between;
	padding: 50px;
	flex:1;
}