
.header{			
	width: 100%;
	background-image: linear-gradient(#56a65f, rgb(255, 158, 72));
	
}

nav{
	display: flex;
	justify-content: space-between;
	align-items:center;
}
nav img{
	width: 70%;
}
.links h1{
	display:inline;
	text-align: left;
	font-family: courier;
	font-size:250%;
	transform: translate(-50%,20%);
	top: 50%;
	left: 60%
}
.links a{
	text-decoration: none;
	font-size: 30px;
	color:white;
	font-family: arial;
	justify-content: space-between;
	padding: 22px;
}

.front{
	width: 80%;
	background-image: ;
	color: green;
	position:absolute;
	text-align: center;
	transform: translate(-50%,20%);
	top: 30%;
	left: 50%;
	

}
.front h1{
		font-family: sans-serif;
		font-size: 18px;
}

.products-btn{
	display: inline-block;
	text-decoration:none;
	color: black;
	border: 3px solid green;
	padding: 12px 22px;
	font-size: 20px;
	transform: translate(160%,200%);
	background: transparent;
	cursor: pointer;
}
.products-btn:hover{
	color: white;
	background-color: green;
	transition: 0.2s;
}
p {
  color: red;
  font-size: 30px;
  text-align: center;
  
}

.collage img{
	width: 100%;
	float: right;
	position: absolute;
	
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #268E4B;
  color: white;
  text-align: center;
}
.footer img{
	width:2%;
}